<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--     this tag makes the app responsive -->
    <title>Simple Todo</title>

    <script src="public/bower_components/angular/angular.js"></script>
    <script src="public/bower_components/angular-route/angular-route.js"></script>
    <script src="public/javascripts/app.js"></script>
  </head>

<body ng-app="TodoApp">
  <div ng-controller="TodosCtrl">
    <form ng-submit="addTodo()">
      <div>
        <textarea ng-model="newTodo.content"></textarea>
      </div>
      <div>
        <button>Add Todo</button>
      </div>
    </form>
    <div>

      <div ng-repeat="todo in todos track by $index">
        <div>
          {{todo.content}}
        </div>
        <div>
          <button ng-click="delete()">Delete</button>
          <!-- <button ng-click="edit()">Edit</button> -->
        </div>
      </div>

    </div>
  </div>
</body>